$white: #FFFFFF;
$lightest-blue: #e9f2f9;
$light-blue: #74C2E1;
$blue: #0191C8;
$dark-blue: #005B9A;
$darkest-blue:  #16335F;
$bright-blue:#3366CC;
$nav-ul-color: #1572b3;
$hover-ul-color: #4fa9e8;
$green: #1fdb62;
$red: #ff1100;
