@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Molengo');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Overlock');
@import url('https://fonts.googleapis.com/css?family=Cambay');
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri');

$serif: serif;
$sans-serif: 'Open Sans', sans-serif;
$lato: 'Lato';
$karla: 'Karla', sans-serif;
$molengo: 'Molengo', sans-serif;
$gloria: 'Gloria Hallelujah', cursive;
$architect: 'Architects Daughter', cursive;
$overlook: 'Overlock', cursive;
$cambay: 'Cambay', sans-serif;
$hindi: 'Hind Siliguri', sans-serif;
