.start-button-div {
  margin: 150px auto 0 auto;
  text-align: center;
}

.start-button {
  width: 250px;
  background: $nav-ul-color;
  border-radius: 5px;
  color: $white;
  font-size: 20px;
}

//question
.question-container {
  background: #8ce4fa;
  border-radius: 5px;
  width: 800px;
  margin: 100px auto;
}

.question-header, .question-text {
  font-size: 30px;
  font-family: $sans-serif;
  margin: 10px;
  padding: 10px;
}

.question-header {
  margin-top: 20px;
  color: $darkest-blue;
}

.question-text {
  font-size: 25px;
  color: $dark-blue;
}

input[type=text] {
  font-size: 20px;
  padding: 10px;
  width: 720px;
  margin: 20px;
  margin-top: 0;
  border: none;
  border-bottom: 2px solid $darkest-blue;
  color: $darkest-blue;
}

.answer-box {
  background: #8ce4fa;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.submit-answer {
  background: $dark-blue;
  color: $white;
  border-radius: 5px;
  margin: 20px;
}

//right question,wrong question
.correct-container, .wrong-container {
  border: 10px solid $green;
  border-radius: 5px;
  width: 500px;
  margin: 100px auto;
  text-align: center;
}

.wrong-container {
  border: 10px solid $red;
}

.correct-message, .wrong-message {
  font-size: 40px;
  font-family: $sans-serif;
  color: $green;
  margin: 20px;
}

.wrong-message {
  color: $red;
}

.next-button, .back-button {
  width: 200px;
  margin: 20px;
  border: 1px solid $green;
  background: $green;
  border-radius: 5px;
  color: black;
  font-family: $sans-serif;
  margin-bottom: 30px;
}

.back-button {
  border: 1px solid $red;
  background: $red;
}

.next-button:hover {
  background: #28ffa1;
  color: black;
}

.back-button:hover {
  color: black;
  background: #e69ba0;
}

.success-word {
  font-size: 50px;
  font-family: $architect;
  color: $bright-blue;
  margin: 20px;
  text-align: center;
  margin-top: 200px;
}

//create question
.create-form {
  border: 5px solid $dark-blue;
  width: 800px;
  margin: 30px auto;
  border-radius: 5px;
  padding: 30px;
}

label {
  margin: 10px;
  margin-left: 20px;
  font-size: 30px;
  font-family: $sans-serif;
  color: $darkest-blue;
}

.submit-button-div {
  margin: 100px auto 0 auto;
  text-align: center;
}

.form-error {
  padding-bottom: 20px;
  margin-left: 20px;
  font-size: 20px;
  font-family: $sans-serif;
  color: red;
}

.error-form {
  padding: 5px;
}

//question list
.question-list {
  display: flex;
  flex-direction: column;
  width: 900px;
  margin: 50px auto;
}

.question {
  margin: 10px;
}

.question-div {
  display: flex;
  justify-content: space-between;
  background: $lightest-blue;
  border-radius: 5px;
}

.question-text {
  font-size: 20px;
  font-family: $sans-serif;
  color: $darkest-blue;
}

.button-div {
  margin: 10px;
  display: flex;
}

.question-list-button {
  background: $lightest-blue;
  border-radius: 5px;
  border: 1px solid $lightest-blue;
}

.question-list-button:hover {
  border: 1px solid $dark-blue;
  background: $dark-blue;
}

.question-list-img {
  width: 25px;
  height: 25px;
}
