<!DOCTYPE html>
<html>
  <head>
    <title>Quizmaster</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" href="https://res.cloudinary.com/dirtnmtpc/image/upload/v1487984130/favicon_fogugh.ico" type="image/x-icon">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
